@import url(https://fonts.googleapis.com/css?family=Georgia:400,300);
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alex+Brush&display=swap&subset=latin-ext");
body {
  font-family: "Georgia";
  position: absolute;
  width: 100%;
  padding-top: 70px;
}

.home-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: #333;
  width: 100%;
  margin-top: 200%;
}

span#logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.navbar {
  margin-bottom: 0px;
  -webkit-box-shadow: 2px 2px 5px darkolivegreen;
          box-shadow: 2px 2px 5px darkolivegreen;
  background: darkolivegreen;
  color: white;
}

.navbar .nav-item {
  padding-right: 1.25rem;
}

#footer {
  -webkit-box-shadow: -2px -2px 5px darkolivegreen;
          box-shadow: -2px -2px 5px darkolivegreen;
  background: darkolivegreen;
  color: white !important;
}

#footer .nav-item {
  padding-right: 1.25rem;
}

#sesjaNarzeczenska-header {
  min-height: 400px;
  color: white;
}

#sesjaNarzeczenska-header .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.7);
}

#sesjaNarzeczenska-header .sesjaNarzeczenska-header-inner {
  padding-top: 300px;
}

h1.display-2 {
  font-size: 7.5rem;
  font-family: 'Alex Brush', cursive;
}

h1.display-3 {
  font-size: 3.5rem;
  font-style: italic;
}

h2.display-4 {
  font-size: 2.5rem;
  font-style: italic;
}

.gal-container {
  padding: 12px;
}

.gal-item {
  overflow: hidden;
  padding: 3px;
}

.gal-item .box {
  overflow: hidden;
}

.gal-item .box .zoom-icon {
  position: absolute;
  bottom: -50px;
  left: 50%;
  color: white;
}

.gal-item .box:hover .zoom-icon {
  bottom: 50%;
}

.gal-item .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.gal-item a:focus {
  outline: none;
}

.gal-item a:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  content: "\A";
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gal-item a:hover:after {
  opacity: 1;
}

/* Extra large devices (large desktops, 1200px and up) */
/* Large devices (desktops, 992px and up) */
@media (max-width: 1199px) {
  h1.display-2 {
    font-size: 6rem;
  }
  h1.display-3 {
    font-size: 3rem;
  }
  h2.display-4 {
    font-size: 2.25rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 991px) {
  h1.display-2 {
    font-size: 5rem;
  }
  h1.display-3 {
    font-size: 2.5rem;
  }
  h2.display-4 {
    font-size: 2rem;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 767px) {
  h1.display-2 {
    font-size: 3.75rem;
  }
  h1.display-3 {
    font-size: 1.5rem;
  }
  h2.display-4 {
    font-size: 1.25rem;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 543px) {
  h1.display-2 {
    font-size: 3.25rem;
  }
  h1.display-3 {
    font-size: 1.25rem;
  }
  h2.display-4 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */