{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="sesjaNarzeczenska-header" class="pt-5">
  <style>
    #sesjaNarzeczenska-header {
      background: url("{% static 'KasiaIMateusz/sesjaNarzeczenska-header.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-position-y: 3rem;
      position: relative;
    }
  </style>
  <div class="dark-overlay">
    <div class="sesjaNarzeczenska-header-inner container">
      <h1 class="display-3 text-light">Sesja narzeczeńska</h1>
    </div>
  </div>
</section>

<section id="sesjaNarzeczenska">
  <div class="container py-5">
    <div class="container gal-container">
      <div class="row">
        <div class="gallery" id="gallery">
          {% for fileName, layout in photos.items %}

          <div class="{{ layout }} gal-item">
            <div class="box">
              <a href="{% static 'Gallery/'|add:fileName %}" data-toggle="lightbox" data-gallery="gallery" data-type="image" data-content="ZOOM">
                <img class="img-fluid rounded gal-img" src="{% static 'Gallery/'|add:fileName %}" alt="Card image cap">
              </a>
              <i class="fas fa-search-plus fa-2x zoom-icon"></i>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}