{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cześć! Jestem Mateusz Winiarski</h1>
    <p class="lead text-muted">To jest testowy projekt. A to jego podstrona z pseudo blogiem</p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {% for blog in Blogs.all %}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ blog.title }}</h3>
            <div class="mb-1 text-muted">{{ blog.pub_date }}</div>
            <p class="mb-auto">{{ blog.summary }}...</p>
            <a href="{% url 'detail' blog.id %}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="img-fluid" src="{{ blog.image.url }}" width="200" height="250" />
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  </main>
  {% endblock %}