{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cześć! Jestem Mateusz Winiarski</h1>
    <p class="lead text-muted">To jest testowy projekt. Zobaczymy co z tego wyniknie!</p>
    <p>
      <a href="mailto:test@mail.com" class="btn btn-primary my-2">Napisz do mnie!</a>
    </p>
    <img src="{% static 'Brainy_Smurf.png' %}" />
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {% for job in Jobs.all %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{ job.image.url }}" />
          <div class="card-body">
            <p class="card-text">{{ job.summary }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock content %}